name: Publish

on:
  push:
    branches:
      - main
    tags:
      - '[0-9]+.[0-9]+.*'

permissions: { }

jobs:
  publish-docker-image:
    name: Publish docker image
    runs-on: ubuntu-latest
    timeout-minutes: 90
    concurrency: publish-docker-image-${{ github.event_name }}
    permissions:
      contents: write
      packages: write
      id-token: write
      attestations: write
    outputs:
      digest: ${{ steps.docker.outputs.digest }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Build, tag & push docker image
        uses: AplinkosMinisterija/reusable-workflows/.github/actions/docker-build-tag-push@3d4c282a76b3de6b69a3be130133b877a8333ec9 # main
        id: docker
        with:
          docker-image: ghcr.io/govlt/national-boundaries-api
          environment: ${{ (startsWith(github.ref, 'refs/tags/') && !contains(github.ref, 'pre')) && 'stable' || 'preview' }}
          no-cache: true
          push: true
          cache-from: ''
          cache-to: ''

      - name: Generate docker image attestation
        uses: actions/attest-build-provenance@ef244123eb79f2f7a7e75d99086184180e6d0018 # v1.4.4
        with:
          subject-name: ghcr.io/govlt/national-boundaries-api
          subject-digest: ${{ steps.docker.outputs.digest }}
          push-to-registry: true

      - name: Extract files from Docker image
        uses: shrink/actions-docker-extract@04c17c51a5b9fd93b7aed2e05e86c8fe2d90ee52 # v3.1.0
        id: extract
        with:
          image: ghcr.io/govlt/national-boundaries-api@${{ steps.docker.outputs.digest }}
          path: /opt/app/.
          destination: app

      - name: Upload boundaries.sqlite artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: boundaries.sqlite
          path: app/boundaries.sqlite
          if-no-files-found: error

      - name: Upload data-source-checksums.txt artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: data-source-checksums.txt
          path: app/data-source-checksums.txt
          if-no-files-found: error

      - name: Upload artifacts to GitHub release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          make_latest: ${{ contains(github.ref, 'pre') && 'false' ||  'true' }}
          files: |
            app/boundaries.sqlite
            app/data-source-checksums.txt

