name: "Reusable workflow: Create release"

on:
  workflow_call:
    inputs:
      increment:
        description: Increment
        type: string
        required: false
        default: minor
      generate_release_notes:
        description: Generate release notes
        required: false
        type: boolean
        default: false
      body:
        description: Description of changes
        required: false
        type: string
    secrets:
      APPLICATION_ID:
        description: Application id for creating release
        required: true
      APPLICATION_PRIVATE_KEY:
        description: Application private key for creating release
        required: true

jobs:
  create-release:
    name: Create ${{ inputs.increment }} release
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Get Token for creating new Release
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@d17e3a9a36850ea89f35db16c1067dd2b68ee343 # v4.0.1
        with:
          application_id: ${{ secrets.APPLICATION_ID }}
          application_private_key: ${{ secrets.APPLICATION_PRIVATE_KEY }}
          permissions: "contents:write"
          revoke_token: true

      - name: Get next version
        uses: reecetech/version-increment@a29aa752dc3b8118a2dc2ed93faf0e95a73a9c7e # 2024.10.1
        id: version
        with:
          scheme: semver
          increment: ${{ inputs.increment }}

      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          make_latest: false
          prerelease: ${{ contains(steps.version.outputs.version, '-pre') && 'true' || 'false' }}
          tag_name: ${{ steps.version.outputs.version }}
          token: ${{ steps.get_workflow_token.outputs.token }}
          body: ${{ inputs.body }}
          generate_release_notes: ${{ inputs.generate_release_notes }}
